*{
    padding: 0;
    margin: 0;
}
h1,h2{
    padding: 0;
    margin: 0;
}
.mheader-year10{
    width: 85px;
    height: 85px;
    margin: 0 auto;
    background: url(../images/entrance/title-center.png);
    background-repeat: no-repeat;
    /*background-position: 0 0;*/
    background-size: cover;
}
.mheader-slogan{
    max-width: 260px;
    height: 60px;
    margin: 0 auto;
    background-image: url(../images/entrance/title-word.png);
    background-repeat: no-repeat;
    /*background-position: 0 0;*/
    background-size: cover;
    margin-top: 10%;
}
.mobileShow{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../images/entrance/Bg.png);
    background-repeat: no-repeat;
    /*background-position: center 0;*/
    background-size: cover;
}
.m-button.mbtn-l{
    border-radius: 4px;
    font-size: 1.2em;
    height: 42px;
    line-height: 42px;
    width: 40%;
}
.msite-loginbox a {
    display: block;
    /*margin: 15px 0 0 100px;*/
    text-decoration: none;
    margin: 0 auto;
    margin-top: 15px;
}
.msite-res,.msite-nobg {
    background: #E5391E;
    color: #FFF;
}
.img-title{
    text-align: center;
}
.msite-loginbox{
    margin-top: 10%;
}
html,body,.content{
    height: 100%;
}
.mheader-tbox{
    padding-top: 10%;
}