*{
    padding: 0;
}
.title-btn{
    text-align: center;
}
.input-box{
    margin-top: 35px;
    text-align: center;
}
.input-btn{
    width: 50%;
    height: 45px;
    border: 1px solid #E4391F;
    border: 0;
    outline: none;
    font-size: 18px;
    color: #FFFFFF;
    background: #E4391F;
    border-radius: 4px;
    margin-top: 60px;
    text-align: center;
}
.input-box-phone{
    width: 90%;
    height: 30px;
    margin-top: 15px;
    border-radius: 4px;
    background: #F3F3F5;
    border: 0;
    padding-left: 20px;
}
.input-box-phone-code{
    width: 50%;
    height: 30px;
    margin-top: 15px;
    border-radius: 4px;
    background: #F3F3F5;
    border: 0;
    padding-left: 20px;
}
.input-send{
    width: 30%;
    height: 30px;
    background: #FF9E21;
    border: 0;
    outline: none;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 9.2%;
}
.input-btn-foot{
    width: 50%;
    height: 45px;
    border: 1px solid #E4391F;
    border: 0;
    outline: none;
    font-size: 18px;
    color: #FFFFFF;
    background: #E4391F;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.foot-btn{
    margin-top: 45px;
}